.card {
    display: flex;
    padding: 1rem 0 2rem 0;
    justify-content: center;
}
.card__content {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background: var(--color-white);
    gap: 1rem;
    border-radius: 0.625rem;
}
.card__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.5rem;
}
.card__title {
    color: var(--color-primary);
    font-size: 1.125rem;
    font-weight: 700;
}
.card__subtitle {
    color: var(--color-secondary);
    font-weight: 700;
    width: 95%;
}
.card__text {
    font-size: 0.875rem;
    width: 80%;
}
.card__icons {
    color: var(--color-primary);
    font-size: 2rem;
}
.card__icons:hover {
    color: var(--color-secondary);
}
.card__stars {
    display: flex;
    gap: 0.1rem;
}
.card__star {
    color: var(--color-secondary);
    font-variation-settings: 'FILL' 1, 'wght' 500;
}
.card__image {
    width: 9rem;
}
.card__link {
    background: var(--color-secondary);
    color: var(--color-white);
    font-weight: 700;
    text-decoration: none;
    padding: 1rem;
    width: 78%;
    text-align: center;
    transition: all 200ms;
}
.card__link:hover {
    background: var(--color-primary);
}
.card__link:active {
    transform: scale(1.1);
}

@media screen and (min-width: 1024px) {
    .card {
        width: 65vw;
        padding: 2rem 0 3rem 0;
    }
    .card__box {
        height: 100%;
        gap: 1rem;
        justify-content: space-between;
    }
    .card__texts {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }
}