@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css');
/*************************************************/
@import url('reset.css');
@import url('icons.css');
/*************************************************/
@import url('header.css');
@import url('main.css');
@import url('footer.css');
/*************************************************/
:root {
    --color-white: #ffffff;
    --color-black: #000000;

    --color-background: #ebecee;
    --color-gradient: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);

    --color-primary: #002f52;
    --color-secondary: #eb9b00;
    --color-tertiary: #e2dfd8;
    --color-quaternary: rgba(185, 185, 185, 0.4);

    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Josefin Sans', sans-serif;
}
body {
    background-color: var(--color-background);
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}